* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

body {
  background: linear-gradient(45deg, #ffe6ea, #d8dfff);
  font-size: 1.5rem;
}

.nav-container {
  width: 100vw;
  background-color: aliceblue;
  position: fixed;
  opacity: 0.8;
  padding: 1% 5% 1% 0;
}

.navbar {
  display: flex;
  justify-content: flex-end;
}

#about-this-site {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

#about-me {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

#coding-history {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

#job-experience {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}



footer {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #ffc4ce;
  width: 100vw;
  height: 20vh;
}

#bottom {
  min-height: 20vh;
  line-height: 20vh;
}

.sns-container {
  background-color: rgb(255, 218, 167);
  margin: 0;
  padding: 1% 0;
  bottom: 0;
}

.sns-bar {
  display: flex;
  justify-content: center;
}

li {
  list-style: none;
  height: 50px;
  line-height: 50px;
  padding: 0 20px;
}

li > a {
  color: rgb(236, 96, 96);
  text-decoration: none;
}
