* {
  box-sizing: inherit;
  font-family: 'Poppins', sans-serif;
  margin: 0;
}

html {
  -webkit-text-size-adjust: 100%;
  font-size: 62.5%;
  line-height: 1.5;
}

body {
  background: linear-gradient(45deg, #ffe6ea, #d8dfff);
  font-size: 1.6rem;
  line-height: 2;
}

h2 {
  font-size: 24px;
  font-size: calc(2rem + ((1vw - 0.64rem) * 0.7143));
  line-height: 1.3;
}

p {
  display: block;
  margin-inline-start: 1em;
  margin-inline-end: 1em;
  max-width: 640px;
}

.nav-container {
  width: 100vw;
  background-color: aliceblue;
  position: fixed;
  opacity: 0.8;
  padding: 1% 2% 1% 0;
}

.navbar {
  display: flex;
  justify-content: flex-end;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  margin: 0 auto;
  max-width: 1280px;
}


  

#about-this-site {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

#about-me {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

#about-me-container {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 2% 3%;
}

#mypicture {
  width: 30%;
  height: auto;
  border-radius: 10%;
} 

#coding-history {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

#job-experience {
  width: 100vw;
  height: 150vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: left;
}

#job-history {
  display: grid;
  grid-template-columns: minmax(0, 1fr) 4fr;
  justify-items: start;
  column-gap: 5%;
  row-gap: 2%;
}

.job-photo {
  width: 10rem;
  height: 10rem;
  object-fit: cover;
  border-radius: 50%;
  border: #d8dfff;
  justify-self: end;
}

details[open] .details_content{
  animation: 1s details_content ease;
}

@keyframes details_content {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

footer {
  background-color: #ffc4ce;
}

#bottom { 
  font-weight: 500;
  min-height: 20vh;
  line-height: 20vh;
}

.sns-container {
  background-color: rgb(255, 218, 167);
  margin: 0;
  bottom: 0;
}

.sns-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}

li {
  list-style: none;
  text-decoration: none;
  margin: 0 2%;
}

li > a {
  color: rgb(236, 96, 96);
  text-decoration: none;
}

@media (min-width: 1200px) {
  h2 {
    font-size: 2.4rem;
  }
}
  
@media screen and (max-width: 640px) {
  body {
    line-height: 2;
    font-size: 1.2rem;
  }

  h2 {
    font-size: 2rem;
  }

  p, summary {
    margin-inline-start: 0.5em;
    margin-inline-end: 0.5em;
    font-size: 1.2rem;
  }
  
  .job-photo {
    width: 5rem;
    height: 5rem;
  }
}

@media only screen and (min-width: 601px) {
  .container {
    width: 85%;
  }

  #job-experience {
    height: 500vh;
  }

}
